{% extends 'base.html' %}
{% block title %}Single Item | {{ item.name }}{% endblock %}

{% block content %}
<div class="container">
  <h4> <center>Description Below</center></h4>
  <div class="row">
      <div class="card-deck col-md-7 mx-auto align-items-center">
        <div class="card-dock card-inverse card-success text-center">
          <a href="{% url 'single_product' slug=item.slug %}"><img class="card-img-top"  src="{{ item.image.url }}" alt="Card image cap"></a>
          <div class="card-body-content">
            <a style="text-decoration:none" href="{% url 'single_product' slug=item.slug %}"><b>{{ item.name }}</b></a>
            <p class="card-text-content">{{ item.description}}.</p>
            <div class="product-price-btn" >
              <button type="button">Rs.{{ item.price }}</button>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
